<div id="archive_box">
  <div>
    <label>Order by </label>
    <select id="order_select" (change)="setOrderList();">
      <option value="state">State</option>
      <option value="name">Name</option>
      <option value="date">Date</option>
    </select>
  </div>
  <div id="events_pool" class="text" *ngFor="let event of events| async">
    <mat-card>
      <div id="event_name">{{event.name}}</div>
      <div class="button_container">
        <button id="delete_button" (click)="deleteEvent(event.eventId)">DELETE</button>
        <button id="restore_button" (click)="restoreEvent(event.eventId)">Unarchive</button>
        <label id="state">{{event.state}}</label>
      </div>
    </mat-card>
  </div>
</div>
