#event_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form.event_form {
  width: 100%;
  max-width: 330px;
  text-align: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

#button-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#cancel_button {
  height: 2em;
  border: none;
  margin-right: 1em;
}

#accept_button {
  padding: .8em;
  background-color: #44CA1A;
  color: white;
  border-radius: 4px;
  border: none;
}

#accept_button:hover {
  background-color: #b7ff76;
}
